<%= form_for(situation) do |f| %>
  <% if situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(situation.errors.count, "error") %> prohibited this situation from being saved:</h2>

      <ul>
      <% situation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'witness' %>
  </div>

  <div class="form-group">
    <%= f.label :situation_type %>"
    <%= f.text_field :situation_type, class: 'form-control', placeholder: 'State' %>
  </div>

  <%= f.submit class: 'btn btn-success' %>

<% end %>
