<div class="jumbotron" id="home-jumbotron">
  <h2><%= t('home.title') %></h2>
  <p><%= t('home.introduction') %></p>
  <p><%= t('home.coming_soon') %></p>
  <hr>
  <blockquote>
    <p class="text-muted"><%= t('home.quote') %></p>
    <footer><cite title="E.M. Forster"><%= t('home.quote_author') %></cite></footer>
  </blockquote>

</div>
