<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>First Names</h1>
      <%= link_to 'New First Name', new_first_name_path, class: 'btn btn-success' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Name</h2>
    </div>
    <div class="col-md-6">
      <h2>Actions</h2>
    </div>
  </div>

  <% @first_names.each do |first_name| %>
  <div class="row">
    <div class="col-md-6">
      <p><%= first_name.name %></p>
    </div>
    <div class="col-md-6">
      <div class="btn-group" role="group">
        <%= link_to 'Edit', edit_first_name_path(first_name), type: 'button', class: 'btn btn-info' %>
        <%= link_to 'Destroy', first_name, method: :delete, data: { confirm: 'Are you sure?' } , type: 'button', class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
  <% end %>

</div>

