<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Last Names</h1>
      <%= link_to 'New Last Name', new_last_name_path, class: 'btn btn-success' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Name</h2>
    </div>
    <div class="col-md-6">
      <h2>Actions</h2>
    </div>
  </div>

  <% @last_names.each do |last_name| %>
  <div class="row">
    <div class="col-md-6">
      <p><%= last_name.name %></p>
    </div>
    <div class="col-md-6">
      <div class="btn-group" role="group">
        <%= link_to 'Edit', edit_last_name_path(last_name), type: 'button', class: 'btn btn-info' %>
        <%= link_to 'Destroy', last_name, method: :delete, data: { confirm: 'Are you sure?' } , type: 'button', class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
  <% end %>

</div>

