<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Places</h1>
      <%= link_to 'New Place', new_place_path, class: 'btn btn-success' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Name</h2>
    </div>
    <div class="col-md-4">
      <h2>Place type</h2>
    </div>
    <div class="col-md-4">
      <h2>Actions</h2>
    </div>
  </div>

  <% @places.each do |place| %>
  <div class="row">
    <div class="col-md-4">
      <p><%= place.name %></p>
    </div>
    <div class="col-md-4">
      <p><%= place.place_type %></p>
    </div>
    <div class="col-md-4">
      <div class="btn-group" role="group">
        <%= link_to 'Edit', edit_place_path(place), type: 'button', class: 'btn btn-info' %>
        <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } , type: 'button', class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
  <% end %>

</div>

